body {
  margin: 0px;
}

nav {
  background-color: #faf8f8;
  display: flex;
  height: 8vh;
}

/* Nav Kiri */
.navbar-kiri {
  display: flex;
  flex: 50%;
  padding-left: 100px;
  align-items: center;
}

nav .navbar-kiri li {
  display: inline;
}

nav .navbar-kiri a {
  text-decoration: none;
  padding: 12px;
  color: black;
  font-weight: bold;
}

nav .navbar-kiri a:hover {
  color: grey;
  font-size: 16px;
}
/* Nav Kiri */

/* Nav Kanan */
.navbar-kanan {
  display: flex;
  flex: 50%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
}

nav .navbar-kanan a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 10px;
}
/* Nav Kanan */

.dl {
  text-decoration: none;
}